esp_display/simplewebserver/secrets.h
esp_display/webserver_2displays/secrets.h
esp_display/webserver_2displays_newfont/webserver_2displays/secrets.h
android/WebSocket-Guide-master/.gitignore
android/WebSocket-Guide-master/build.gradle
android/WebSocket-Guide-master/gradle.properties
android/WebSocket-Guide-master/gradlew
android/WebSocket-Guide-master/gradlew.bat
android/WebSocket-Guide-master/README.md
android/WebSocket-Guide-master/settings.gradle
android/WebSocket-Guide-master/app/.gitignore
android/WebSocket-Guide-master/app/build.gradle
android/WebSocket-Guide-master/app/proguard-rules.pro
android/WebSocket-Guide-master/app/src/main/AndroidManifest.xml
android/WebSocket-Guide-master/app/src/main/java/com/mrntlu/websocketguide/MainActivity.kt
android/WebSocket-Guide-master/app/src/main/java/com/mrntlu/websocketguide/service/WebSocketListener.kt
android/WebSocket-Guide-master/app/src/main/java/com/mrntlu/websocketguide/ui/MainFragment.kt
android/WebSocket-Guide-master/app/src/main/java/com/mrntlu/websocketguide/viewmodels/MainViewModel.kt
android/WebSocket-Guide-master/app/src/main/res/drawable/ic_launcher_background.xml
android/WebSocket-Guide-master/app/src/main/res/drawable/ic_send.xml
android/WebSocket-Guide-master/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
android/WebSocket-Guide-master/app/src/main/res/layout/activity_main.xml
android/WebSocket-Guide-master/app/src/main/res/layout/fragment_main.xml
android/WebSocket-Guide-master/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
android/WebSocket-Guide-master/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
android/WebSocket-Guide-master/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
android/WebSocket-Guide-master/app/src/main/res/mipmap-hdpi/ic_launcher.webp
android/WebSocket-Guide-master/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
android/WebSocket-Guide-master/app/src/main/res/mipmap-mdpi/ic_launcher.webp
android/WebSocket-Guide-master/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
android/WebSocket-Guide-master/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
android/WebSocket-Guide-master/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
android/WebSocket-Guide-master/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
android/WebSocket-Guide-master/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
android/WebSocket-Guide-master/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
android/WebSocket-Guide-master/app/src/main/res/values/colors.xml
android/WebSocket-Guide-master/app/src/main/res/values/strings.xml
android/WebSocket-Guide-master/app/src/main/res/values/themes.xml
android/WebSocket-Guide-master/app/src/main/res/values-night/themes.xml
android/WebSocket-Guide-master/app/src/main/res/xml/backup_rules.xml
android/WebSocket-Guide-master/app/src/main/res/xml/data_extraction_rules.xml
android/WebSocket-Guide-master/gradle/wrapper/gradle-wrapper.jar
android/WebSocket-Guide-master/gradle/wrapper/gradle-wrapper.properties
