<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>albs-dart</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  </head>
  <script type="text/javascript" src="/static/script.js"> </script>

<body tabindex="-1">
        <!-- Trigger/Open The Modal 
    <button id="myBtn" class="menu" onclick="openModalMenu()">ALBS Dart Menü</button>-->
    <div class="menu">
        <a href="javascript:void(0);" class="icon" onclick="openModalMenu()">
            <i class="fa fa-bars"></i>
          </a>

    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- <span class="close" onclick="closeModal()">&times;</span> -->
        <div id="spieldialog" style="display: none;">
            Spieler 1:
            <select id="selectplayer1"></select><br>
            <br>
            Spieler 2:
            <select id="selectplayer2"></select>
            <input type="button" value = "Spiel Starten" class="buttonValues" onclick="sendBroadcast()">
        </div>
        <div id="maindialog" style="display: block;">
            <input type="button" value = "Neues Spiel" class="buttonValues" onclick="openSpielDialog()">
            <input type="button" value = "Kamerastreams" class="buttonValues" onclick="location.href='/streams'"><br>
            <input type="button" value = "Spieler hinzufügen" class="buttonValues" onclick="addPlayer()"><br>
        </div>
        <!--<img src="http://192.168.0.213:8100/video_feed_1" width="50%">-->
    </div>
    </div>  
    <div id="winner" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h1>Winner</h1>
        <input class="punktstand" type="text" readonly id="Winner">
        Avg: <input class="wurf inputbox" type="text" readonly id="WinnerAvg"><br>
        Darts: <input class="wurf inputbox" type="text" readonly id="WinnerDarts"> <br>

    </div>
    </div>
    <div class="beideSpieler">
    <div id="spieler" class="spieler Spieler1">
        <table id="calcu" width="100%">
            <tr>
                <td colspan="3" width="60%">Spieler1: <input class="wurf inputbox names" type="text" readonly id="name1"></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" width="60%"><input class="punktstand" type="text" readonly id="punkteSpieler1"></td>
                <td class="wurf"  width="40%">
                    Darts: <input class="wurf inputbox" type="text" readonly id="dartscount1"> <br>
                
                    Avg: <input class="wurf inputbox" type="text" readonly id="avgSpieler1"><br>
                    Aufn.: <input class="wurf inputbox" type="text" readonly id="visitscoreSpieler1">
                </td>
            </tr>                

            <tr>
                <td class="wurf"><input class="wurf inputbox" type="text" readonly id="wurf11"></td>
                <td class="wurf"><input class="wurf inputbox" type="text" readonly id="wurf12"></td>
                <td class="wurf"><input class="wurf inputbox" type="text" readonly id="wurf13"></td>
                <td></td>
            </tr>
        </table>    
    </div>
    <div id="spieler" class="spieler Spieler2">
        <table id="calcu" width="100%">
            <tr>
                <td colspan="3" width="60%">Spieler2: <input class="wurf inputbox names" type="text" readonly id="name2"></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" width="60%"><input class="punktstand" type="text" readonly id="punkteSpieler2"></td>
                <td class="wurf" width="40%">
                    Darts: <input class="wurf inputbox" type="text" readonly id="dartscount2"> <br>
                
                    Avg: <input class="wurf inputbox" type="text" readonly id="avgSpieler2"><br>
                    Aufn.: <input class="wurf inputbox" type="text" readonly id="visitscoreSpieler2">
                </td>
            </tr>                

            <tr>
                <td class="wurf"><input class="wurf inputbox" type="text" readonly id="wurf21"></td>
                <td class="wurf"><input class="wurf inputbox" type="text" readonly id="wurf22"></td>
                <td class="wurf"><input class="wurf inputbox" type="text" readonly id="wurf23"></td>
                <td></td>
            </tr>
        </table>    
    </div>
    </div>
    <div class="beideSpieler">
        <div id="stream">
          <img src="http://192.168.0.101:8100/video_feed?computedart=True" alt='Server an http://192.168.0.101:8100 nicht gefunden.' id="streamimage" onclick="location.href='http://192.168.0.101:8100'">
      
        </div>
        <div id="stream">
          <img src="http://192.168.0.213:8100/video_feed_1" alt='Server an http://192.168.0.213:8100 nicht gefunden.' onclick="location.href='http://192.168.0.213:8100'">
          <!--<button onclick="location.href='index.html'">Vollbild Video 2</button>-->
        </div>
      </div>
    <div id="center">
          <table id="calcu" width="100%">
              <tr>
                  <td><input type="button" class="buttonValues" value="1" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="2" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="3" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="4" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="5" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="6" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="7" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
    
              </tr>
              <tr>
                  <td><input type="button" class="buttonValues" value="8" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="9" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="10" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="11" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="12" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="13" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="14" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
              </tr>
              <tr>
                  <td><input type="button" class="buttonValues" value="15" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="16" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="17" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="18" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="19" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="20" onclick="sendWurf(this)" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td><input type="button" class="buttonValues" value="25" onclick="sendWurf(this)" id="bull"  ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
              </tr>
              <tr>
                  <td colspan="1"><input type="button" class="buttonValues" value="0" id="zero" onclick="sendWurf(this)"  ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td colspan="2"><input type="button" class="buttonValues" value="Double" onclick="toggleDouble()" id="double"  ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td colspan="2"><input type="button" class="buttonValues" value="Triple" onclick="toggleTriple()" id="triple"  ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <td colspan="2"><input type="button" class="buttonValues" value="Zurück" onclick="sendZurueck()" ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>
                  <!--<td colspan="2"><input type="button" class="buttonValues" value="Zurück" disabled="true" onclick="sendZurueck()"  ontouchstart="setColor(this)" ontouchend="releaseColor(this)"></td>-->
              </tr>
          </table>
      </div>

</body>
</html>
