<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Live Stream 1</title>

    <script type="text/javascript" src="/static/script.js" defer> </script>
    <style>
        #first {
            /*display: inline-block;*/
            width:10%;
            float: left;
        }
        #second {
            /*display: inline-block;*/
            max-width: 70%;
            float: left;
        }
        .slider{
            width: 90%;
        }
        .slidervalue{
            width: 30%;
            display: inline;
        }
    </style>
</head>
<body>
<div id="wrapper">
<div class="slidecontainer" id="first">
    <h3>Bildverarbeitung Einstellungen</h3>
    <form method="POST" action="test">
        Untere Grenze: <p class="slidervalue" id="valueslider1"></p><br>
        <input type="range" min="1" max="7000" class="slider" id="slider1" onchange="sendValue(this.id)"><br>
        Obere Grenze: <p class="slidervalue" id="valueslider2"></p><br>
        <input type="range" min="1" max="7000" class="slider" id="slider2" onchange="sendValue(this.id)"><br>
        <input type="button" value="Transformation löschen" id="setup" onclick="sendValue(this.id)"><br>
        <input type="button" value="Overlay Umschalten" id="overlay" onclick="sendValue(this.id)"><br>

    </form>

    Konsole:<br>
    <p id="console"></p>
</div>
<div class="imgbox" id="second"> 

    <img src="{{ url_for('video_feed_1') }}" style="height: 90%;" id="stream1" onclick="getClickPosition(this.id)">
</div>
</div>
</body>
</html>