  .buttonValues:active{
    color: #3a2222;  
  }
  .buttonValues{
    width: 100%;
    height: 100px;
    background: #ecedef;  
    border: none;  
    font-size: 30px;  
    border-radius: 1px;  
    font-weight: 700;  
    color: #235558;  
    cursor: pointer;    
  }
  .menu{
    width: 100%;
    height: 48px;
    border: none;  
  }

  .wurf{
    border: none;  
    background: #d4d4d4;
    color: #000000; 
    font-size: 24px;  
    font-weight: 200;
  }

  a.icon {
    background: white;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
  a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }


  .inputbox{
    max-width: 80px;
    width: 50%;
  }
  .names{
    background: transparent;
  }

  .punktstand{
    height: 120px;
    font-size: 120px;  
    border-radius: 1px;  
    font-weight: 1000;  
    width: 100%;
    box-sizing: border-box;
    border: none;  
    background: none;
    color: #235558; 
  }

  #spieler {
    margin: auto;
    width: 40%;
    overflow: hidden;
    

    }
  #center {
    margin: auto;
    width: 40%;
    overflow: hidden;
    

    }
  @media only screen and (max-width: 600px) {
    #center {
      left: 0%;
      position: fixed; 
      bottom:0%;
      width: 100%;
      }
    #spieler {
      width: 100%;
    }
    .punktstand{
      height: 80px;
      font-size: 80px;  
    }
    .wurf{
      font-size: 16px;  
      font-weight: 600;
    }
    .buttonValues{
      height: 90px;
    }

  }

  .normalButton{
    width: 100%;
    margin: 5px;  
    background: #ecedef;  
    border: none;  
    height: 70px;
    font-size: 30px;  
    line-height: 30px;  
    border-radius: 10px;  
    font-weight: 700;  
    color: #235558;  
    cursor: pointer;    
  }


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #ecedef;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #4b3737;
  width: 48px;
  height: 48px;
  float: right;
  font-size: 92;
  font-weight: 1200;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}